.flip-card {
  background: #79caef;
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  margin:10px;
  padding:10px;
  padding-bottom: 60px;
}

.flip-front, .flip-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-front {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}
.flip-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 10px;
  left: 10px;
  top: 0;

}
.flip-card.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;

}
.fitted{
  width:200px;
  border-radius:5px;
  box-shadow:2px 2px 2px gray;
  background-color: white;
}